<h1>сЃђсЃЃсѓисЃЦсЃюсЃ╝сЃЅ</h1>
<p><a href="/draw">сЂіуххсЂІсЂЇсЂЎсѓІ</a></p>

<% posts.each do |post| %>
  <div class="post">
    <h2>
      <%= escape_html post["title"] %>
    </h2>
    <p class="post-image">
    <img src="/uploads/<%= post["src"] %>" alt="<%= post["title"] %>">
    </p>
    <p>
    ­Ъњќ 
    <button class="like" data-id="<%= post["id"] %>">
      <%= post["likes"] %>
    </button>
    </p>
  </div>
<% end %>
<script src="/js/dashboard.js"></script>
