<img style="width:100%;" src="./img/top.png">
<div class="draw">
  <p style="float:left; margin-right:310px;"><a href="/draw">お絵かきする</a></p>
  <% if params['adult'] == '1' %>
  <p style="float:left; margin-right:6px; font-weight:bold; "><a style="color:#000;" href="/dashboard">R-18</a></p>
  <% else %>
  <p style="float:left; margin-right:6px;"><a href="/dashboard?adult=1">R-18</a></p>

  <% end %>

</div>

<div class="columns">
  <% posts.each do |post| %>

  <div class="pin">

    <p class="post-image">
      <a href="/uploads/<%= post["src"] %>" data-lity>
        <img src="/uploads/<%= post["src"] %>" alt="<%= Rack::Utils.escape_html post["title"] %>">
        <% if post['adult'] == "true" %>[R-18]<% end %>
      </a>
    </p>

    <div class="footer">
      <div class="tittle">
        <%= Rack::Utils.escape_html post["title"] %>
      </div>
      <div class="action">
        <div class="hert">
          <div class="like fa fa-heart gray" data-id="<%= post["id"] %>">
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<script src="/js/dashboard.js"></script>
